---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unifi-poller
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: 'true'

    image:
      repository: golift/unifi-poller
      tag: v2.9.2

    env:
      TZ: America/New_York
      UP_UNIFI_DEFAULT_ROLE: homelab-controller
      UP_UNIFI_DEFAULT_URL: https://${SECRET_UNIFI_IP}
      UP_UNIFI_DEFAULT_USER: ${SECRET_UNIFI_POLLER_USER}
      UP_UNIFI_DEFAULT_PASS: ${SECRET_UNIFI_POLLER_PW}
      UP_UNIFI_DEFAULT_VERIFY_SSL: false
      UP_UNIFI_DEFAULT_SAVE_SITES: true
      UP_UNIFI_DEFAULT_SAVE_DPI: false
      UP_INFLUXDB_DISABLE: true
      UP_PROMETHEUS_DISABLE: false
      UP_PROMETHEUS_NAMESPACE: unifipoller

    service:
      main:
        ports:
          http:
            port: 9130

    resources:
      requests:
        cpu: 50m
        memory: 128M
      limits:
        cpu: 300m
        memory: 256M
