---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: home
spec:
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 60m
  values:
    configmap:
      config:
        enabled: false
    image:
      repository: ghcr.io/blakeblackshear/frigate
      tag: 0.12.0
    env:
      TZ: America/New_York
      FRIGATE_MQTT_HOST: ${SECRET_MQTT_HOST}
      FRIGATE_MQTT_USER: ${SECRET_MQTT_USERNAME}
      FRIGATE_MQTT_PASSWORD: ${SECRET_MQTT_PASSWORD}
    service:
      main:
        ports:
          http:
            port: &port 5000
          rtsp:
            enabled: true
            port: 8554
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /api/version
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    ingress:
      main:
        enabled: true
        annotations:
          kubernetes.io/tls-acme: 'true'
          kubernetes.io/ingress.class: nginx
          nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.networking.svc.cluster.local/oauth2/auth
          nginx.ingress.kubernetes.io/auth-signin: ${SECRET_AUTH_URL}
          cert-manager.io/cluster-issuer: letsencrypt-production
          hajimari.io/icon: mdi:cctv
        hosts:
          - host: frigate.${SECRET_DOMAIN}
            paths:
              - path: /
        tls:
          - hosts:
              - frigate.${SECRET_DOMAIN}
            secretName: frigate.cert
    persistence:
      config-file:
        enabled: true
        type: configMap
        name: frigate-configmap
        subPath: config.yaml
        mountPath: /config/config.yml
        readOnly: true
      data:
        enabled: true
        storageClass: ceph-hdd-xfs
        accessMode: ReadWriteOnce
        size: 2Ti
      media:
        enabled: true
        storageClass: ceph-hdd-xfs
        accessMode: ReadWriteOnce
        size: 20Ti
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/bus/usb
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        mountPath: /dev/shm
    securityContext:
      # -- (bool) Privileged securityContext may be required if USB devices are accessed directly through the host machine
      privileged: true
    nodeSelector:
      google.feature.node.kubernetes.io/coral: 'true'
    resources:
      requests:
        memory: 1000Mi
        cpu: 500m
      limits:
        memory: 6000Mi
    podAnnotations:
      backup.velero.io/backup-volumes: config,media,data
