---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: oliver-cluster
  namespace: gaming
spec:
  releaseName: oliver-cluster
  interval: 10m
  chart:
    spec:
      chart: ark-cluster
      version: 0.1.10
      sourceRef:
        kind: HelmRepository
        name: ark-server-charts
        namespace: flux-system
  values:
    nameOverride: ''
    fullnameOverride: ''
    commonLabels: {}
    commonAnnotations: {}
    nodeSelector: {}
    affinity: {}
    tolerations: []
    securityContext: {}
    # need to adjust image...
    #  runAsUser: 1000
    #  fsGroup: 1000
    podLabels: {}
    podAnnotations: {}
    podSecurityContext: {}
    #  capabilities:
    #    drop:
    #      - ALL
    #    add:
    #      - CHOWN
    #      - NET_BIND_SERVICE
    #  readOnlyRootFilesystem: true
    #  runAsNonRoot: false
    topologySpreadConstraints: {}
    image:
      registry: docker.io
      repository: drpsychick/arkserver
      tag: latest-master
      pullPolicy: IfNotPresent

    updateStrategy:
      type: Recreate

    restartPolicy: Always

    # Time for the server to shutdown gracefully
    terminationGracePeriodSeconds: 60

    # Defaults to 1, we set this to 0 so servers don't start automatically after deploy
    #
    replicaCount: 1

    # Attach pod directly to host network
    # Implies: `service.enabled: false`
    # Mutually exclusive: `hostPort`
    hostNetwork: false

    # Attach specific ports to host node.
    # Implies: `service.enabled: false`
    # Mutually exclusive: `hostNetwork`
    hostPort: false

    # set to "ClusterFirstWithHostNet" when hostNetwork=true
    #
    # dnsPolicy: ClusterFirst
    # Cluster name
    clusterName: oliverarkcluster

    # Mods available in the cluster and enabled by default on all servers.
    # Mods are updated with the game and can be overwritten per server.
    mods:
      - '543394681'
      - '2724167243'
      - '1967741708'
      - '731604991'
      - '1404697612'
      - '2007400172'
      - '2007461356'
      - '2007447056'
      - '2007441758'
      - '2007430597'
      - '2007418454'
      - '2007411835'

    # Set RCON password for the whole cluster
    rcon:
      password: ${SECRET_GAME_SERVER_CONSOLE_PW}

    # Global extraEnvVars for all servers
    extraEnvVars:
      - name: am_ark_ServerPVE
        value: 'True'
      - name: am_arkopt_DisableStructureDecayPvE
        value: 'True'
      - name: am_arkopt_AllowFlyerCarryPvE
        value: 'True'
      - name: am_arkopt_ForceAllowCaveFlyers
        value: 'True'
      - name: am_arkopt_OverrideStructurePlatformPrevention
        value: 'True'
      - name: am_ark_ServerPassword
        value: ${SECRET_ARK_OLIVER_SERVER_PW}

    # Global custom game settings can be overwritten per server
    customConfigMap:
      GameIni:
      GameUserSettingsIni:
      EngineIni:
    # Servers in the ARK cluster
    servers:
      island:
        replicaCount: 1
        updateOnStart: false
        sessionName: Minion Island
        message: Welcome to Oliver's Island Server!
        map: TheIsland
        password: ${SECRET_ARK_OLIVER_SERVER_PW}
        maxPlayers: 20
        xpMultiplier: 2
        ports:
          queryudp: 27018
          gameudp: 7870
          rcon: 32330
        resources:
          limits:
            cpu: 4
            memory: 16Gi
          requests:
            cpu: 2
            memory: 8Gi
        customConfigMap:
          GameIni: |
            [/Script/ShooterGame.ShooterGameMode]
            bDisableStructurePlacementCollision=True
            PerLevelStatsMultiplier_Player[0]=2.0
            PerLevelStatsMultiplier_Player[4]=2.0
            PerLevelStatsMultiplier_Player[5]=2.0
            PerLevelStatsMultiplier_Player[7]=2.0
            PerLevelStatsMultiplier_DinoTamed[7]=2.0
            PerLevelStatsMultiplier_DinoWild[7]=1
            MatingIntervalMultiplier=0.1
            BabyMatureSpeedMultiplier=25.0
            EggHatchSpeedMultiplier=15.0
            BabyCuddleIntervalMultiplier=0.1
            bUseCorpseLocator=True
            BabyCuddleGracePeriodMultiplier=10.0
            bAutoUnlockAllEngrams=True
            UseCorpseLifeSpanMultiplier=4.0
            ActiveMods=543394681,2724167243,1967741708,731604991,1404697612,2007400172,2007461356,2007447056,2007441758,2007430597,2007418454,2007411835
          GameUserSettingsIni: |
            [/Script/ShooterGame.ShooterGameUserSettings]
            Version=5
            AlwaysAllowStructurePickUp=True
            [ServerSettings]
            AllowFlyerCarryPvE=True
            AllowThirdPersonPlayer=True
            XPMultiplier={{ .server.xpMultiplier }}
            allowThirdPersonPlayer=1
            AllowCaveBuildingPvE=1
            alwaysNotifyPlayerJoined=1
            alwaysNotifyPlayerLeft=1
            bAllowFlyerCarryPvE=1
            bDisableStructureDecayPvE=1
            DinoCharacterHealthRecoveryMultiplier=2.00000
            DinoCharacterStaminaDrainMultiplier=0.50000
            DinoCharacterFoodDrainMultiplier=0.25
            HarvestAmountMultiplier=1.50000
            TamingSpeedMultiplier=8.00000
            DifficultyOffset=1.00000
            OverrideOfficialDifficulty=5.00000
            AllowAnyoneBabyImprintCuddle=1
            [AutoTrough]
            NoInventory=True
            [StructuresPlus]
            EnableEngramOverride=true
            AdditionalSupportDistanceInFoundations=10
            BunkBedCooldownTimeInSeconds=60
            AllowDynamicPillarNonFoundationSupport=True
            AllowDynamicPillarSupport=True
            [ArkAutomatedSettings]
            KitchenModActive=True
            [AwesomeSpyGlass]
            AllowStructureTargeting=False
            AllowOutline=False
          EngineIni: |
            # Extinction Engine.ini


      ragnarok:
        replicaCount: 1
        updateOnStart: true
        sessionName: Minion Ragnarok
        message: Welcome to Oliver's Ragnarok Server!
        map: Ragnarok
        password: ${SECRET_ARK_OLIVER_SERVER_PW}
        maxPlayers: 20
        xpMultiplier: 2
        ports:
          queryudp: 27017
          gameudp: 7880
          rcon: 32330
        resources:
          limits:
            cpu: 4
            memory: 16Gi
          requests:
            cpu: 2
            memory: 8Gi
        customConfigMap:
          GameIni: |
            [/Script/ShooterGame.ShooterGameMode]
            bDisableStructurePlacementCollision=True
            PerLevelStatsMultiplier_Player[0]=2.0
            PerLevelStatsMultiplier_Player[4]=2.0
            PerLevelStatsMultiplier_Player[5]=2.0
            PerLevelStatsMultiplier_Player[7]=2.0
            PerLevelStatsMultiplier_DinoTamed[7]=2.0
            PerLevelStatsMultiplier_DinoWild[7]=1
            MatingIntervalMultiplier=0.1
            BabyMatureSpeedMultiplier=25.0
            EggHatchSpeedMultiplier=15.0
            BabyCuddleIntervalMultiplier=0.1
            bUseCorpseLocator=True
            BabyCuddleGracePeriodMultiplier=10.0
            bAutoUnlockAllEngrams=True
            UseCorpseLifeSpanMultiplier=2.0
            ActiveMods=543394681,2724167243,1967741708,731604991,1404697612,2007400172,2007461356,2007447056,2007441758,2007430597,2007418454,2007411835
          GameUserSettingsIni: |
            [/Script/ShooterGame.ShooterGameUserSettings]
            Version=5
            AlwaysAllowStructurePickUp=True
            [ServerSettings]
            AllowFlyerCarryPvE=True
            AllowThirdPersonPlayer=True
            XPMultiplier={{ .server.xpMultiplier }}
            allowThirdPersonPlayer=1
            AllowCaveBuildingPvE=1
            alwaysNotifyPlayerJoined=1
            alwaysNotifyPlayerLeft=1
            bAllowFlyerCarryPvE=1
            bDisableStructureDecayPvE=1
            DinoCharacterHealthRecoveryMultiplier=2.00000
            DinoCharacterStaminaDrainMultiplier=0.50000
            DinoCharacterFoodDrainMultiplier=0.25
            HarvestAmountMultiplier=1.50000
            TamingSpeedMultiplier=8.00000
            DifficultyOffset=1.00000
            OverrideOfficialDifficulty=5.00000
            AllowAnyoneBabyImprintCuddle=1
            [AutoTrough]
            NoInventory=True
            [StructuresPlus]
            EnableEngramOverride=True
            AdditionalSupportDistanceInFoundations=10
            BunkBedCooldownTimeInSeconds=60
            AllowDynamicPillarNonFoundationSupport=True
            AllowDynamicPillarSupport=True
            [ArkAutomatedSettings]
            KitchenModActive=True
            [AwesomeSpyGlass]
            AllowStructureTargeting=False
            AllowOutline=False
          EngineIni: |
            # Extinction Engine.ini

    # Containers' resource requests and limits
    # ref: http://kubernetes.io/docs/user-guide/compute-resources/
    #
    resources:
      limits:
        cpu: 4
        memory: 16Gi
      requests:
        cpu: 2
        memory: 8Gi

    # Default ports used by the container. Can be set per server.
    # ARK communicates ports to the client, so make sure the container port matches the external port!
    # Using these default settings for a cluster only makes sense if you have an IP for each server.
    containerPorts:
      gameudp: 7777
      queryudp: 27015
      rcon: 32330

    service:
      # enable a service per server
      enabled: true
      # Enable metallb shared ip
      metallb: true

    # Enable persistence using Persistent Volume Claims
    # ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
    #
    persistence:
      enabled: true

      # game files from steam, the largest volume, includes installed mods
      game:
        accessModes:
          - ReadWriteMany
        size: 60Gi
        annotations: {}
        # mountPath is used regardless if `persistence` is enabled
        # this is the mount point in the pod image
        mountPath: /arkserver
        storageClass: cephfs-ssd

      # shared cluster files
      cluster:
        accessModes:
          - ReadWriteMany
        size: 200Mi
        annotations: {}
        mountPath: /arkserver/ShooterGame/Saved/clusters
        storageClass: cephfs-ssd

      # contains the world save game and configuration files
      # keeping a backup of this is enough to get your server back up
      save:
        # A named, existing Persistent Volume, if none given, the name
        # will be generated: <cluster-name>-<server-name>
        #
        # existingVolume:
        # A manually managed Persistent Volume Claim, if none given, the PVC
        # will be created with the name: <cluster-name>-<server-name>
        #
        # existingClaim:
        # volumeMode defines what type of volume is required by the claim.
        # Value of Filesystem is implied when not included in claim spec.
        #
        # volumeMode: Filesystem
        # PV Storage Class
        # If defined, storageClassName: <storageClass>
        # If set to "-", storageClassName: "", which disables dynamic provisioning
        # If undefined (the default) or set to null, no storageClassName spec is
        # set, choosing the default provisioner.
        #
        storageClass: ceph-ssd

        # PVC Access Modes
        accessModes:
          - ReadWriteOnce

        # PVC size
        size: 2Gi

        annotations: {}
        # The path the volume will be mounted at
        mountPath: /arkserver/ShooterGame/Saved


    # Startup and Liveness probe values
    # Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
    startupProbe:
      # 30s + 240*30s = 120m30s max
      initialDelaySeconds: 30
      failureThreshold: 240
      periodSeconds: 30
      successThreshold: 1
      timeoutSeconds: 1
    livenessProbe:
      # unhealthy after max 3*10s = 30s
      initialDelaySeconds: 10
      failureThreshold: 3
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 1

    serviceAccount:
      # Specifies whether a service account should be created
      create: false
      # Annotations to add to the service account
      annotations: {}
      # The name of the service account to use.
      # If not set and create is true, a name is generated using the fullname template
      name: ''
    extraInitContainers: []
    extraVolumeMounts: []
    extraVolumes: []
