---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: photoprism
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: photoprism-mariadb
  values:
    image:
      # -- image repository
      repository: photoprism/photoprism
      # -- image tag
      tag: 221118-jammy
      # -- image pull policy
      pullPolicy: IfNotPresent

    # -- environment variables. See [image docs](https://docs.photoprism.org/getting-started/config-options/) for more details.
    # @default -- See below
    env:
      TZ: America/New_York
      PHOTOPRISM_STORAGE_PATH: /photoprism/storage
      PHOTOPRISM_ORIGINALS_PATH: /photoprism/originals
      PHOTOPRISM_ADMIN_PASSWORD: ${SECRET_PROTOPRISM_ADMIN_PW}
      PHOTOPRISM_AUTH_MODE: password
      PHOTOPRISM_ORIGINALS_LIMIT: -1
      PHOTOPRISM_RESOLUTION_LIMIT: -1
      PHOTOPRISM_SITE_URL: https://photos.${SECRET_DOMAIN}
      PHOTOPRISM_DATABASE_DRIVER: mysql
      PHOTOPRISM_DATABASE_SERVER: photoprism-mariadb:3306
      PHOTOPRISM_DATABASE_PASSWORD: ${SECRET_PHOTOPRISM_MARIADB_PW}

    service:
      main:
        ports:
          http:
            port: 2342

    ingress:
      # -- Enable and configure ingress settings for the chart under this key.
      # @default -- See values.yaml
      main:
        enabled: true
        annotations:
          kubernetes.io/tls-acme: 'true'
          kubernetes.io/ingress.class: nginx
          nginx.ingress.kubernetes.io/proxy-body-size: '0'
          nginx.ingress.kubernetes.io/proxy-read-timeout: '600'
          nginx.ingress.kubernetes.io/proxy-send-timeout: '600'
          cert-manager.io/cluster-issuer: letsencrypt-production
        path: /
        hosts:
          - host: photos.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: photoprism-cert
            hosts:
              - photos.${SECRET_DOMAIN}

    resources:
      requests:
        cpu: 1500m
        memory: 3Gi
      limits:
        cpu: 3000m
        memory: 8Gi

    # -- Configure persistence settings for the chart under this key.
    # @default -- See values.yaml
    persistence:
      config:
        enabled: true
        mountPath: /photoprism/storage
        size: 50Ti
        storageClass: ceph-ssd-xfs
        retain: true
        accessMode: ReadWriteOnce

      originals:
        enabled: true
        mountPath: /photoprism/originals
        size: 500Ti
        storageClass: ceph-hdd-xfs
        retain: true
        accessMode: ReadWriteOnce
