---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: immich-postgresql
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: postgresql
      version: 12.6.6
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      registry: docker.io
      repository: bitnami/postgresql
      tag: 15.3.0-debian-11-r17
      debug: true
    global:
      postgresql:
        auth:
          username: ${SECRET_IMMICH_REDIS_USER}
          database: immich
          password: ${SECRET_IMMICH_REDIS_PW}
      primary:
        persistence:
          storageClass: ceph-ssd-xfs
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
            hugepages-2Mi: 256Mi
          limits:
            cpu: 2000m
            memory: 1Gi
            hugepages-2Mi: 256Mi
      readReplicas:
        persistence:
          storageClass: ceph-ssd-xfs
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
            hugepages-2Mi: 256Mi
          limits:
            cpu: 2000m
            memory: 1Gi
            hugepages-2Mi: 1Gi
