---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app immich-server
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: immich-postgresql
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        configmap.reloader.stakater.com/reload: immich-configmap
    image:
      repository: ghcr.io/immich-app/immich-server
      tag: v1.80.0
    command: /bin/sh
    args:
      - ./start-server.sh
    envFrom:
      - configMapRef:
          name: immich-configmap
    service:
      main:
        ports:
          http:
            port: 3001
    persistence:
      library:
        enabled: true
        storageClass: cephfs-hdd-xfs
        size: 500Ti
        accessMode: ReadWriteMany
        mountPath: /usr/src/app/upload
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
