---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      version: 5.8.6
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    loki:
      structuredConfig:
        auth_enabled: false
        common:
          path_prefix: /var/loki
          replication_factor: 3
          storage:
            type: local
    write:
      persistence:
        storageClass: ceph-hdd-xfs
        size: 25Gi
    read:
      persistence:
        storageClass: ceph-hdd-xfs
        size: 25Gi
    singleBinary:
      persistence:
        storageClass: ceph-hdd-xfs
        size: 25Gi
