---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: botkube
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: botkube
      version: v0.18.0
      sourceRef:
        kind: HelmRepository
        name: botkube-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/kubeshop/botkube
      tag: v0.18.0
    communications:
      default-group:
        discord:
          enabled: true
          channels:
            default:
              bindings:
                executors:
                  - kubectl-read-only
              id: ${SECRET_BOTKUBE_DISCORD_CHANNEL_ID}
          botID: ${SECRET_BOTKUBE_DISCORD_BOT_ID}
          token: ${SECRET_BOTKUBE_DISCORD_TOKEN}
    settings:
      clustername: blookums
    executors:
      kubectl-read-only:
        kubectl:
          enabled: true
    serviceMonitor:
      enabled: true
    actions:
      describe-created-resource:
        enabled: false
      show-logs-on-error:
        enabled: true
    sources:
      crds:
        displayName: CRDS
        kubernetes:
          namespaces:
            include:
              - all
            exclude:
              - monitoring
          events:
            - create
            - delete
            - error
          resources:
            - name: helm.toolkit.fluxcd.io/v2beta1/helmreleases
            - name: source.toolkit.fluxcd.io/v1beta2/helmcharts
            - name: kustomize.toolkit.fluxcd.io/v1beta2/kustomizations
            - name: notification.toolkit.fluxcd.io/v1beta1/alerts
            - name: monitoring.coreos.com/v1/podmonitors
            - name: monitoring.coreos.com/v1/servicemonitors
