---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://vmware-tanzu.github.io/helm-charts
      chart: velero
      version: 5.0.2
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu-charts
        namespace: flux-system
  values:
    image:
      repository: velero/velero
      tag: v1.11.1
    configuration:
      provider: aws
      backupStorageLocation:
        name: default
        bucket: ${SECRET_AWS_BUCKET_NAME}
        config:
          region: ${SECRET_AWS_REGION}
      volumeSnapshotLocation:
        name: aws
        config:
          region: ${SECRET_AWS_REGION}
      resticTimeout: 6h
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.7.1
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins
    resources:
      requests:
        memory: 300Mi
        cpu: 25m
      limits:
        memory: 1500Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    credentials:
      secretContents:
        cloud: |
          [default]
          aws_access_key_id = ${SECRET_AWS_ACCESS_KEY_ID}
          aws_secret_access_key = ${SECRET_AWS_ACCESS_KEY_SECRET}
    snapshotsEnabled: true
    deployNodeAgent: true
    installCRDs: true
    nodeAgent:
      podVolumePath: /var/lib/kubelet/pods
      privileged: false
      resources:
        requests:
          memory: 200Mi
          cpu: 15m
        limits:
          memory: 2000Mi
    schedules:
      daily-backup:
        schedule: 0 6 * * *
        template:
          ttl: 120h
