---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: appdaemon
  namespace: home
spec:
  interval: 10m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: appdaemon
      version: 8.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
  dependsOn:
    - name: home-assistant
  values:
    image:
      repository: acockburn/appdaemon
      tag: 4.4.2

    env:
      TZ: America/New York
      LATITUDE: ${SECRET_LAT}
      LONGITUDE: ${SECRET_LONG}
      ELEVATION: ${SECRET_ALTITUDE}
      HA_URL: http://home-assistant:8123
      DASH_URL: http://$HOSTNAME:5050
      # TOKEN:

    persistence:
      config:
        enabled: true
        size: 10Gi
        storageClass: ceph-ssd
        retain: true

    ingress:
      main:
        enabled: false
    addons:
      codeserver:
        enabled: true
        image:
          repository: codercom/code-server
          tag: 4.16.1
        workingDir: /config
        args:
          - --auth
          - none
          - --user-data-dir
          - /config/.vscode
          - --extensions-dir
          - /config/.vscode
        ingress:
          enabled: true
          annotations:
            kubernetes.io/tls-acme: 'true'
            kubernetes.io/ingress.class: nginx
            nginx.ingress.kubernetes.io/auth-url: http://oauth2-proxy.networking.svc.cluster.local/oauth2/auth
            nginx.ingress.kubernetes.io/auth-signin: ${SECRET_AUTH_URL}
            cert-manager.io/cluster-issuer: letsencrypt-production
          hosts:
            - host: appdaemon-code.${SECRET_DOMAIN}
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - appdaemon-code.${SECRET_DOMAIN}
        volumeMounts:
          - name: config
            mountPath: /config
    podAnnotations:
      backup.velero.io/backup-volumes: config
